{% extends "base.html.twig" %}
    {% block stylesheets %}
    
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    {% block title %}Catégories{% endblock %}
    
    

{% block body %}

    <h1>Listes des catégories</h1>
    <div class="main">
        {% for categorie in categories %}
            <article class="articles">
                <h3> <a href="{{path('categorie', {'id':categorie.id}) }}">{{categorie.nom}}</a></h3>
                <p>{{ categorie.description}}</p>
                <div class="siparateur"></div>
            </article>
        {% endfor %}
    </div>
{% endblock %}

 