form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    /* border: 1px solid gray; */
    padding-top: 1rem;

}

form div{
    border: 1px solid white;
}
form div input:nth-child(2){
    margin-left: 3rem;
} 

input{
    padding: 0.5rem 0rem;
    text-align: center;
}

.bnt{
    text-align: center;

}
.bnt input{
    width: 20%;
}

.suprimer{
    background-color: rgb(109, 24, 24) !important;
    color: white;
    padding: 0.25rem 1rem;
}