.form_modifier{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    text-align: center;
}
.form_modifier input{
    padding: 0.5rem;
}

.form_modifier input:last-child{
    text-align: center;

}
.form_modifier div{
    border: 1px solid white;
}
